/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #000000;
}

/* Header */
header {
    background-color:aqua;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

header p {
    margin: 5px 0 0;
}

/* Navigation */
nav {
    background-color:aquamarine;
    padding: 15px;
    text-align: center; /* Cambiar de right a center */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block; /* Ajusta el bloque a su contenido */
}

nav ul li {
    display: inline;
    margin-right: 15px;
}


/* Main Content Area */
main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 20px;
    padding: 20px;
    background-color:chocolate;
}

article {
    background-color: #ffdab3;
    padding: 15px;
}

article section {
    margin-bottom: 20px;
}

video{
    width: 500px;
}

/* Aside */
aside {
    background-color:darkgray;
    padding: 15px;
}

/* Footer */
footer {
    background-color:blue;
    padding: 10px;
    text-align: center;
}

footer p {
    color: white;
    margin: 0;
    font-size: 0.9em;
}

/* Responsive para pantallas menores a 768px */
@media (max-width: 768px) {
    body {
        grid-template-areas:
            "header"
            "nav"
            "main"
            "footer";
        grid-template-rows: 80px 40px 1fr 80px;
    }

    main {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
            "article"
            "section"
            "aside";
    }

    article, section, aside {
        padding: 15px;
        font-size: 0.9em;
    }

    header, footer {
        font-size: 1.3em;
    }

    nav {
        font-size: 1em;
    }
    
    img{
        max-width: 480px;
    }
    video{
        max-width: 480px;
    }
}

/* Responsive para pantallas menores a 480px */
@media (max-width: 480px) {
    body {
        grid-template-rows: 60px 40px 1fr 60px;
    }

    header, footer {
        font-size: 1.1em;
    }

    nav {
        font-size: 0.9em;
    }

    article, section, aside {
        font-size: 0.8em;
        padding: 10px;
    }
    img{
        max-width: 480px;
    }
    video{
        max-width: 480px;
    }
}
